@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        line-height: 1.3;
    }
    table {
        width: 100%; /* Ensure table takes full width */
        border-collapse: collapse; /* Optional: Improve table borders */
    }
    th,
    td {
        @apply py-3 px-2.5 text-sm text-left border border-gray-200; /* Added 'border' to td and th for consistent styling */

    }
    thead {
        @apply bg-neutral-100;
    }
    th {
        @apply font-semibold; /* Corrected typo from 'font-smeibold' to 'font-semibold' */
    }
    a {
        @apply text-sky-500 hover:underline;
    }
}
